@media screen and (max-width: 320px) {
 *{
     max-width: 320px;
 }
    .container_custom{
        max-width: 320px;
    }

    .obrezka2{
        display: none;
    }
    .content__main{
        max-width: 320px;
    }
    .content__partition{
        max-width: 320px;
    }
    .content__presentation{
        max-width: 320px;
    }
    .content__slider{
        max-width: 320px;
    }
    .content__prewiew{
        max-width: 320px;
    }
    .content__prewiew_item{
        max-width: 320px;
    }
    .footer__container{
        max-width: 320px;
    }
    .footer__info{
        max-width: 320px;
         }
    .addres_item{
        max-width: 320px;
    }
    .contacts{
        max-width: 320px;
    }
    .subscribe{
        max-width: 320px;
    }.footer__soc{
    max-width: 320px;
         }
}
