
.header{

}
.header__navbar_top{
    background: #0F2438 ;
    height: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__navbar_right{
    display: flex;
    column-gap: 30px;
}
.navbar__right_item a{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__navbar_left{
    display: flex;
}
.navbar__left_item{
    display: flex;
    align-items: center;

}
.navbar__left_item img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.navbar__left_item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0 auto;
}
.navbar__left_item #city{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 5px;
    /*text-decoration: none;*/
}
.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    }
.nav-link:hover, .nav-link:focus, a:hover{
    color: #FFFFFF;
}
.header__logo{
    width: 246px;
    height: 83px;
    display: flex;
    align-items: center;
}

.header__logo_description h3{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #0F2438;
}
.header__center{
    /*width: 1354px;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*column-gap: 75px*/
;
}
.header__logo_description p{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    margin: 0 auto;
}
.header__worktime{
    width: 290px;
    height: 40px;
    display: flex;
    align-items: center;
}
.header__worktime p {
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
    font-style: normal;
}
.header__worktime img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.header__addres{
    display: flex;
    align-items: center;
}
.header__addres img{
    margin-right: 10px;
}
.header__addres p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    margin: 0 auto;
}
.header__soc {
    display: flex;
    align-items: center;
    background-color: #E1EFD0;
    border-radius: 2px
}
.header__soc{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.header__soc img{
    margin: 9px 6px 9px 16px;
}
.header__soc p {
    margin: 0 auto;
    margin-right: 16px;
}

.header__telephone h4{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
    text-align: right ;
}
.header__telephone p{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0F2438;
    opacity: 0.7;
    text-align: right ;

}
.header__main {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    height: 196px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/

}
.header__bottom{
    display: flex;
    /*height: 53px;*/
    align-items: center;
    padding: 20px 0px 20px 0px;
    max-width: 1354px;
    margin: 0 auto;
}
.header__catalog button{
    width: 164px;
    height: 53px;
    background: #005BB9;
    border-radius: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    margin-right: 30px;

}
.header__search {
    width: 649px;
    margin-right:102px ;

}
.btn_custom {
    width: 101px;
    height: 53px;
    background: #005BB9;
    border-radius: 0px 6px 6px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.header__cabinet{
    display: flex;
    align-items: center;
    column-gap:25px ;

}
.header__cabinet_login a{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #0F2438;
}
.header__cabinet_login img{
    margin-right: 17px;
}
.header__cabinet_login {
    padding-right: 25px;
    border-right: 1px #E1E5F8 solid;
}
.header__cabinet_favorites{
    padding-right: 25px;
    border-right: 1px #E1E5F8 solid;
}
.header__cabinet_favorites a{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #0F2438;
}
.header__cabinet_favorites img{
    margin-right: 15px;
}
.header__cabinet_cart a{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #0F2438;
}
.header__cabinet_cart img{
        margin-right: 15px;
        width: 28px;
        height: 28px;
}
.btn {
  background-color: #005BB9;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #005BB9;
    color: #FFFFFF;
}
.content__main{
    max-width: 1354px;
    margin: 0 auto;
}
.content__presentation{
    display: flex;
    margin-top: 30px;
}
.content__slider{
    width: 1008px;
    height: 390px;
    border-radius:30px ;
    background: url("../src/bg_carusel.png") no-repeat center/cover;

}
.cor_cont{
    display: flex;
    justify-content: space-around;
}
.item_description h3{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}
.item_description p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}
.item_price{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.item_price h3{
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;

}
.item_price p{
    margin-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.carousel_description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content__prewiew_item {
    width: 336px;
    height: 190px;
    background: #F4F5FA;
    border-radius: 10px;
    padding: 15px;
    margin-left: 10px;
}

.item_info {
    display: flex;
}
.item_info h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}
.item_info p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.item_info img{
    width: 80px;
    height: 74px;
}
.info__price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.info__price h3{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    margin-right: 5px;
}
.info__price p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.info__price button{
    margin-left: 32px;
    margin-bottom: 20px;
}
.info__description{
    margin-left: 15px;
}
.content__prewiew{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.slider__button_left{
    position: absolute;
    left: -20px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.slider__button_right{
    position: absolute;
    right: -20px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.content__partition{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.content__partition_item{
    width: 431px;
    height: 184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E1E5F8;
    border-radius: 6px;
    box-sizing: border-box
}
.partition__item_description h4{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0A1A2C;
}
.partition__item_description p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}
.partition__item_description{
    margin-left: 30px;
}
.btn_w{
    height: 48px;
    border: 2px solid #005BB9;
    border-radius: 6px;
    color: #005BB9;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.content__showcase {
    margin-top: 70px;
}
.content__showcase_nav{
    display: flex;
    column-gap:20px ;
    margin-bottom: 30px;
}
.content__showcase_item{
    width: 316px;
    height: 418px;

}
.card_grade{
    display: flex;
    align-items: center;
}
.grade{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;

}
.grade2{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    margin:auto;
    margin-left: 0px;
}

.card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 4px;
}

.card_price {
    display: flex;
    align-items: center;
}
.card_price a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #005BB9;
}

.card_nav_btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content__showcase_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.showcase_image {
    width: 276px;
    height: 235px;
}
.content__showcase_more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.news{
    margin-top: 80px;
}
.news__header{
    max-width: 1354px;
    margin: auto ;
}
.news__header h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.news__line {
    margin-top: 15px;
    height: 10px;
    background: #F5F5F5;
}
.news__container{
    display: flex;
    justify-content: space-between;
    max-width: 1354px;
    margin: auto;
    margin-top: 21px;
}

.news__item_header {
    text-align: center;
    max-width: 106px;
    background: #0C1A2A;
    border-radius: 4px;
    padding: 2px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.news__container_item a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #005BB9;
}
.news__container_item p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
    margin-top: 20px;
}

.footer {
    background: #0C1A2A;
    margin-top: 120px;
}

.footer__container {
    max-width: 1354px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.footer__info h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
    margin-top: 36px;
}
.footer__info a,.footer__info p, .footer__addres a,.footer__addres p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none  ;
    margin-top: 14px ;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}
.footer__cat{
    display: flex;
    flex-direction: column;
}
.fotter__rubrikator {
    display: flex;
    flex-direction: column;
}

.footer__politics {
    display: flex;
    flex-direction: column;
}

.footer__addres h6{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;

}
#finput{
    background: #0C1A2A;
    color: #FFFFFF;
}
.btn_custom1 {
    width: auto;
}
.addres_item{
    display: flex;
    align-items: center;
    column-gap: 150px;

}
.footer__addres h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.subscribe {
    display: flex;
    justify-content: space-between;
}
.subscribe a{
    margin: 0 auto;
}
.footer__soc{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap:55px ;
    margin-top: 27px;
}